#Keep .dockerignore and .gitignore in sync
# IDEs
/.vscode
/.idea
/*.iml

# Game runtime stuff
/perimeter
/Source/cache_font
logfile.txt
perimeter.dxvk-cache
CrashData

# Build artifacts
/build
docker/dockcross-*-perimeter
/result
/result-*
cmake-build-*

# MacOS...
.DS_Store

# Other
.svn
.scc
