// Microsoft Visual C++ generated resource script.
//
/////////////////////////////////////////////////////////////////////////////

//#define IDB_TREELIST_BITMAP             8000
//#define IDC_CURSOR_SIZE                 8002
//#define IDB_TREELIST_CHECK              8003
//#define IDB_TREELIST_LOCK               8004
//#define IDC_CURSOR_BUTTON               8005
//#define IDC_CURSOR_CHECK                8006
//#define IDC_CURSOR_LOCK                 8007
//#define IDB_TREELIST_TREE               8008
//#define IDB_TREELIST_SORT               8009
//#define IDB_TREELIST_HEADER             8010
//#define IDC_CURSOR_SPLIT                8011
//#define IDB_TREELIST_DISABLE            8011
//#define IDC_CURSOR_VERT                 8012
//#define IDC_CURSOR_HORZ                 8013
//#define IDC_CURSOR_CROSS                8014
//#define IDC_CURSOR_DROP                 8015
//#define IDC_CURSOR_STOP                 8016
/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_TREELIST_DISABLE    BITMAP  DISCARDABLE     "xTreeListCtrl\\res\\bm_bkgnd2.bmp"
IDB_TREELIST_CHECK      BITMAP  DISCARDABLE     "xTreeListCtrl\\res\\bm_checkbox.bmp"
IDB_TREELIST_LOCK       BITMAP  DISCARDABLE     "xTreeListCtrl\\res\\bm_lockbox.bmp"
IDB_TREELIST_TREE       BITMAP  DISCARDABLE     "xTreeListCtrl\\res\\bm_def_tree.bmp"
IDB_TREELIST_SORT       BITMAP  DISCARDABLE     "xTreeListCtrl\\res\\bm_def_sort.bmp"
IDB_TREELIST_HEADER     BITMAP  DISCARDABLE     "xTreeListCtrl\\res\\bm_def_head.bmp"
IDB_TREELIST_BITMAP     BITMAP  DISCARDABLE     "xTreeListCtrl\\res\\bm_bkgnd.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

IDC_CURSOR_SIZE         CURSOR  DISCARDABLE     "xTreeListCtrl\\res\\cur_size.cur"
IDC_CURSOR_BUTTON       CURSOR  DISCARDABLE     "xTreeListCtrl\\res\\cur_button.cur"
IDC_CURSOR_CHECK        CURSOR  DISCARDABLE     "xTreeListCtrl\\res\\cur_checkbox.cur"
IDC_CURSOR_LOCK         CURSOR  DISCARDABLE     "xTreeListCtrl\\res\\cur_lockbox.cur"
IDC_CURSOR_SPLIT        CURSOR  DISCARDABLE     "xTreeListCtrl\\res\\cur_split.cur"
IDC_CURSOR_VERT         CURSOR  DISCARDABLE     "xTreeListCtrl\\res\\cur_vert.cur"
IDC_CURSOR_HORZ         CURSOR  DISCARDABLE     "xTreeListCtrl\\res\\cur_horz.cur"
IDC_CURSOR_CROSS        CURSOR  DISCARDABLE     "xTreeListCtrl\\res\\cur_cross.cur"
IDC_CURSOR_DROP         CURSOR  DISCARDABLE     "xTreeListCtrl\\res\\cur_drop.cur"
IDC_CURSOR_STOP         CURSOR  DISCARDABLE     "xTreeListCtrl\\res\\cur_stop.cur"
/////////////////////////////////////////////////////////////////////////////

